body,
html {
    overflow-x: hidden;
}

.container-fluid {
    max-width: 100%;
}

.row {
    margin: 0;
}

.logo_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.content {
    padding: 20px;
    border-radius: 50%;
    padding-top: 24%;
}

.navbar {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}