body,
html {
    overflow-x: hidden;
}

.container-fluid {
    max-width: 100%;
}

.row {
    margin: 0;
}

.logo_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    padding: 20px;
    border-radius: 50%;
    padding-top: 24%;
}

.navbar {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.like-container {
    position: relative;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.like-container:hover {
    background-color: none;
}

.like-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #333;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 3px 6px;
    min-width: 18px;
    text-align: center;
    line-height: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}



